* {
    text-align: left;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: darkblue;
}

table {
    text-align: center;
    font-family: sans-serif;
    color: black;
    margin-right: auto;
    border: 2px solid #090708;
    width: 30%;
}

td {
    border: 1px solid #090708;
}

td:hover {
    border: 3px solid darkblue;
}