* {
    margin: 0 auto;
    text-align: left;
}

#aula4 a {
    text-decoration: none;
    color: black;
}

#aula4 a:hover {
    color: darkblue;
}

#aula4 ul {
    list-style: none;
}

#foto-gabriel {
    border: 1px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

#teste {
    background: red;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

#div-cab {
    width: 200px;
    height: 100%;
    display: block;
    text-align: center;
}

#page-content {
    width: 90%;
}

#menus {
    width: 500px;
    height: 60px;
    position: absolute;
    margin-left: 60px;
}

#menus div{
    display: inline-block;
    position: relative;
    font-weight: bold;
}

#menu {
    text-decoration: none;
    color: black;
    line-height: 60px;
    text-align: center;
    margin-top: 1px;
    margin-left: 20px;
    position: relative;
    width: 100px;
    height: 60px;
}

#menu:hover{
    cursor: pointer;
    opacity: 0.4;
}

header {
    position: fixed;
    background: white;
    width: 100%;
    height: 60px;
    margin-bottom: 10%;
    color: white;
    border-bottom: 1mm ridge white;
}

header h1 {
    color: black;
    display: inline-block;
    margin-top: 10px;
    position: relative;
    float: none;
    margin-right: auto;
}

nav {
   position: fixed;
}

footer {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    
    width: 100%;
    height: 60px;
    border-top: 1mm ridge white;
}

footer p {
    text-align: center;
    padding-top: 20px;
    color: black;
    font-size: 13pt;
}



#aula3 article {
    font-size: 20px;
    padding-top: 90px;
    text-align: center;
    align-content: center;
}

#aula3 section {
    font-size: 15px;
    text-align: left;
}

#aula3 table {
    text-align: center;
    font-family: sans-serif;
    color: black;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #090708;
    width: 30%;
}

#aula3 td {
    border: 1px solid #090708;
}

#circle-list {
    list-style: circle;
}

#square-list {
    list-style: square;
}

#roman-list{
    list-style: upper-roman;
}

#dever3 table {
    border-collapse: collapse;
    text-align: center;
    font-family: sans-serif;
    color: black;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #090708;
    width: 50%;
}

#dever3 td {
    border: 1px solid #090708;
    height: 25px;
}


.container {
    margin-top: 10px;
    margin-left: 15px;
    float: left;
    display: block;
    cursor: pointer;
}

.container:hover {
    opacity: 0.6;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.2s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}